<div class="container">
  <div class="title">
    <div class="title-icon">
      <img src="../../public/Logo.svg" alt="Logo" />
    </div>

    <div class="title-head">
      <div class="title-heading">
        <p>{{ boardTitle }}</p>
        <img src="../../public/Edit_duotone.svg" />
      </div>

      <div class="title-desc">{{ boradDesc }}</div>
    </div>
  </div>

  <div class="tasks">
    @for (item of taskData; track $index) {
    <app-task [task]="item" />
    }
  </div>

  <div class="add-task" (click)="openModal()">
    <div class="add-task-icon">
      <img src="../../public/Add_round_duotone.svg" />
    </div>
    <p>Add new task</p>
  </div>
</div>

@if (isModalOpen) {
  <app-add (closeModal)="closeModal()" (reload)="ngOnInit()"></app-add>
}